.navbar {
  background-color: #293241;
}

.masthead {
  padding-top: 100px;
}



#search {
  padding-top: 100px;
  padding-bottom: 100px;
}


.card-img-top {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}



.mx-2 {
  color: #293241;
}


/* masthead css */
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image:
      url("/img/intricate-explorer-D9VQo3GmapA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.boulderCanyonHead {
  position: relative;
  width: 100%; 
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-image:
      url("/img/19DC36D8-CF84-4583-AE1A-0E2E46DC3B48_1_105_c.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#pyoRide {
  padding-bottom: 100px;
}

.masthead h2 {
  color: white;
}
.masthead h4 {
  color: #e5e5e5;
}

#search h4 {
  color: #293241;
}

.boulderCanyonHead h2 {
  color: #e5e5e5;
}